# particle files
*.ptcs
*.vtk

# output files
*.json

# object files
*.o
*.cuo

# pycache files
__*__

# deprecated files
*.old

# build files
build

# examples source files
examples/*/*/results
examples/*/*/sources

# gencase generated configuration files (not the templates!)
examples/*/*/template/generateGeometryWithDualSPHysicsGenCase/*_Def.xml

# ignore products of unit tests
src/Benchmarks/damBreak3D/TNL-SPH_resources/sources
src/Benchmarks/damBreak3D/TNL-SPH_resources/damBreak3D_WCSPH-DBC
src/Benchmarks/damBreak3D/TNL-SPH_resources/template/generateGeometryWithDualSPHysicsGenCase/damBreak3D_WCSPH-DBC_Def.xml

src/Benchmarks/damBreak3D/dualSPHysics_resources/damBreak3D_WCSPH-DBC_Def.xml
src/Benchmarks/damBreak3D/dualSPHysics_resources/damBreak3D_WCSPH-DBC_out

src/Benchmarks/damBreak3D/openFPM_resources/VTPDATA
src/Benchmarks/damBreak3D/openFPM_resources/Particles_0.pvtp
src/Benchmarks/damBreak3D/openFPM_resources/main.cu
src/Benchmarks/damBreak3D/openFPM_resources/sph_dlb

#Documentation files
Documentation/html
Documentation/latex
