# particle files
*.ptcs
*.vtk

# output files
*.json

# object files
*.o
*.cuo

# pycache files
__*__

# deprecated files
*.old

# build files
build

# examples source files
examples/*/*/results
examples/*/*/sources

# ignore products of unit tests
src/Benchmarks/damBreak3D/TNL-SPH_resources/sources
src/Benchmarks/damBreak3D/TNL-SPH_resources/damBreak3D_WCSPH-DBC
src/Benchmarks/damBreak3D/TNL-SPH_resources/template/generateGeometryWithDualSPHysicsGenCase/damBreak3D_WCSPH-DBC_Def.xml

src/Benchmarks/damBreak3D/dualSPHysics_resources/damBreak3D_WCSPH-DBC_Def.xml
src/Benchmarks/damBreak3D/dualSPHysics_resources/damBreak3D_WCSPH-DBC_out

src/Benchmarks/damBreak3D/openFPM_resources/VTPDATA
src/Benchmarks/damBreak3D/openFPM_resources/Particles_0.pvtp
src/Benchmarks/damBreak3D/openFPM_resources/main.cu
src/Benchmarks/damBreak3D/openFPM_resources/sph_dlb

# CaseSetupFiles
Examples/SPHCases/*/MeasuretoolConfig.h
Examples/SPHCases/*/ParticlesConfig.h
Examples/SPHCases/*/SPHCaseConfig.h
Examples/SPHCases/*/SimulationControlConfig.h
Examples/SPHCases/*/OpenBoundaryConfig.h
Examples/SPHCases/*/results/*
Examples/SPHCases/*/sources/*

# Examples executable
Examples/SPHCases/damBreak2D_WCSPH-DBC/damBreak2D_WCSPH-DBC
Examples/SPHCases/damBreak3D_WCSPH-DBC/damBreak3D_WCSPH-DBC
Examples/SPHCases/damBreak2D_WCSPH-BI/damBreak2D_WCSPH-BI
Examples/SPHCases/damBreak2D_WCSPH-MDBC/damBreak2D_WCSPH-MDBC
Examples/SPHCases/damBreak2D_RSPH/damBreak2D_RSPH

Examples/SPHCases/distributedDamBreak2D_WCSPH-DBC/damBreak2D_WCSPH-DBC
Examples/SPHCases/openChannel2D_WCSPH-DBC/openChannel2D_WCSPH-DBC

Examples/SPHCases/periodicOpenChannel2D_WCSPH-BI/periodicOpenChannel2D_WCSPH-BI
Examples/SPHCases/periodicOpenChannel2D_WCSPH-DBC/periodicOpenChannel2D_WCSPH-DBC

#Documentation files
Documentation/html
Documentation/latex
